body {
    background-color: whitesmoke;
    font-family: 'Almarai', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
    margin: 10px 50px 20px;
}
/*Heading styles*/
h1, 
h2, 
h3, 
h4 { 
    line-height: 1.4;
}
h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.75em;
    font-weight: 700;
    color: #FF8484;
}
h2 {
    font-size: 2.00em;
    font-weight: 700;
    color: #231651;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
/*Image width for web responsive sizes*/
img {
    width: 100%;
}
/*Hyperlink styles*/
a {
    color: #36B4A5;
    text-decoration: none; /* No underlining */
}
a:hover {
    color: #36B4A5;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
    color: #36B4A5;
}
a:active { /* selected link */
    color: #36B4A5;
}
/*Button styles*/
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    color: #36B4A5;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
.button.contact:hover {
    color: #36B4A5;
    color: #ffffff;
}
.button.contact {
    background-color: transparent;
    color: #36B4A5;
    text-transform: uppercase;
    border: 2px solid #36B4A5;
}
.button.contact:hover {
    background-color: #36B4A5;
    color: #ffffff;
}
.logo{
    width: 80px;
    height: auto;
    max-width:100%;
}
.nav-links{
    float:right;
}
.proj-container{
    border: 3px;
    padding: 20px;
}
.container-section{
    width: 50%;
    float: left;
    padding: 10px;
    border: 2px;
}
.section-left{
    float:left;
}
.section-right{
    float:right;
}
.social-icons{
    width: 30px;
    height: auto;
    max-width:100%;
}
.profile-photo{
    width: 300px;
    height: auto;
    max-width:100%;
}
.footer{
    position:relative;
    bottom: 5px;
}
.project-headerimg{
    width: 600px;
    height: auto;
    max-width:100%;
    margin: 10px 50px 20px;
}
.project-img{
    width: 500px;
    height: auto;
    max-width:100%;
    margin: 10px 50px 20px;
}