/* ==============================
Small devices (320px and smaller)
================================= */
*{
    box-sizing: border-box;
}
header{
    text-align: center;
}
.logo {
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5em;
}
nav {
    background-color: #231651;
    display: inline-block;
    width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
nav > ul > li > a {
    display: inline-block;
    padding: 0 15px;
    color: #ECF6F5;
    text-transform: uppercase;
    text-decoration: none;
}
.navtoggle {
    background-color: #231651; 
    text-align: left;
    width: 100%;
    /*height:fit-content;*/
    box-shadow: -2px 22px 9px -16px rgba(0,0,0,0.10);
    align-items: center;
    justify-content: space-between;
}
.navtoggle li:not(:last-child) {
    display:none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
/* our hamburger menu */
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding: 10px 0;
    margin: 20px 20px;
}
.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #ecf6f5a2;
}
.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}
.icon {
    color:#ECF6F5;
}
.icon:visited { 
    color:#FFD59B;
}
.icon:active { 
    color:#FFD59B;
}
.hero-image {
    background-image: url('../img/background/mountain-sunset.jpg');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4a4a4a;
    opacity: 100%;
    max-width: 80%;
}
/*.hero-textborder{
    background-color:#f4f4f4b1;
    border-radius: 10px;
    width: 260px;
}*/
body { 
    background-color: #ECF6F5;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
    border-bottom: 3px solid #f5f5f5;
}
.body-top {
    position: absolute;
    top: 75%;
    left: 38%;
    text-align: center;
}
.project-pp {
    position: absolute;
    width: 550px;
    height: auto;
    padding: 10px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff7a;
    border-radius: 10px;
    text-align: center;
    box-shadow: -2px 22px 9px -16px rgba(0,0,0,0.10);
}
/*Heading styles*/
h1, 
h2, 
h3 { 
    line-height: 1.4;
}
h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.75em;
    font-weight: 700;
    color: #800000;
    text-align: center;
}
h2 {
    font-size: 1.30em;
    font-weight: 700;
    color: #231651;
    text-align: center;
}
h3 {
    font-size: 1.00em;
    font-weight: bold;
    color: #000000;
    margin: 30px 0px; 
    border-radius: 10px;
    text-align: left;
}
/*Image width for web responsive sizes*/
img { 
    width: 100%;
}
/*Hyperlink styles*/
a {
    color: #ECF6F5;
    text-decoration: none; /* No underlining */
}
a:hover {
    color: #36B4A5;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
    color:#FFD59B;
}
a:active { /* selected link */
    color:#FFD59B;
}
/*Button styles*/
.button, .button-contact {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    color: #ECF6F5;
    background-color:#231651;
    font-weight: 400;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #231651; /* width of the border, type, color */
    transition: 0.2s, opacity;
}
.button:hover, .button-contact:hover {
    background-color: #FFD59B;
    color: #231651;
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
.button:active, .button-contact:active {
    background-color: #231651;
    color: #ECF6F5;
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
#backtotop {
    display: none; /*  Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ECF6F5;   /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 100px; /* Rounded corners */
    width: 40px;
    height: 40px;
    padding-top: 1%;
}
.container {
    margin: 25px;
}
.div-container {
    display:table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.row {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20, 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.social-icons {
    width: 30px;
    height: auto;
    max-width:100%;
}
.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.footer {
    background-color: #231651;
    text-align: center;
    padding: 10px 0;
    color:#ECF6F5;
}
.project-headerimg {
    max-width:50%;
    margin: 10px, 5px;
}
.project-img {
    max-width:100%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-text {
    margin: 0px 20px;
}
.overview-img {
    max-width:80%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.overview-text {
    display: flex;
    align-items: center;
    height: 100%;
}
.view-other {
    padding-top: 3%;
    background-color: #fffdfd;
}
.other-img {
    margin: 5% 25%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 10px 10px 2px #32313150;
}
#work {
    padding: 10px 0px;
}
#work.row {
    margin: 5px 0; /* top and bottom, left and right */
    border-bottom: 1px solid #4a4a4a;
}
.skillsntools {
    list-style-type: none;
    padding: 0px 20px;
}
#intro {
    margin: 10px;
}
#resume {
    display: flex;  
    justify-content: center;  
    align-items: center;   
}
.contact {
    padding: 20px 0px;
}
.animation-text{
    padding-top: 20px;
}
.animation-row {
    background-color: #1d2020;
    border-radius: 2px;
}
.animation-img { 
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes flame-color-change {
    0% {fill: #FFC727;}
    50% {fill: #fd9b25;}
    100% {fill: #F76414}
}
.flame {
    animation-duration: 4s;
    animation-name: flame-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes star-color-change {
    0% {fill: #a6a6a6;}
    50% {fill: #fcfdac;}
}
.star {
    animation-duration: 4s;
    animation-name: star-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move {
    from {transform: translate(100px,30px);}
    to {transform: translate(10px, 30px);}
}
.cloud {
    animation: 30s cloud-move infinite alternate linear;
}
.contact{
    margin-left: 3%;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {

    width: 80%; 
    padding: 12px; /* Some padding */  
    border: 1px solid #cccccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #231651;
    color: #ECF6F5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ECF6F5;
    color: #231651;
    border-color: #a6a6a6;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .col-md-6 {
        width: 50%;
        text-align: left;
    }
    .logo {
        min-width: 60px;
        height: auto;
        margin: 6px;
    }
    h2 {
        padding-top: 20px;
    }
    h3 {
        font-size: 1.18em;
        font-weight: bold;
        color: #000000;
        margin: 30px 0px; 
        border-radius: 10px;
        text-align: left;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav > ul > li {
        display: inline-block;
        position: relative;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }
    .hero-textborder{
        background-color:#f4f4f4b1;
        border-radius: 10px;
        width: 350px;
    }
    #backtotop {
        display: none; /*  Hidden by default */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #ECF6F5;   /* Set a background color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 100px; /* Rounded corners */
        width: 70px;
        height: 70px;
        padding: 0%;
    }
    .overview-img{
        width: 60%;
    }
    .project-img{
        margin-top: 8%;
        margin-bottom: 8%;
        width: 70%;
        padding: 0px;
    }
    .project-text {
        margin: 10px 20px;
        padding-top: 30px;
        text-align: left;
    }
    .other-img {
        margin: 2% 30%;
        width: 40%;
        border-radius: 10px;
        border-color: #cccccc;
    }
    .animation-img { 
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact{
        margin-left: 3%;
        margin-right: 10%;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-8 {
        width: 50%;
        text-align: center;
        padding: 0% 2%;
    }
    .header-top {
        position: absolute;
        top: 25%;
        left: 36%;
        text-align: center;
    }
    .header-centered {
        width: 450px;
        height: auto;
        padding: 10px;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        background-color: #ffffff7a;
        border-radius: 0px;
        text-align: center;
        box-shadow: -2px 22px 9px -16px rgba(0,0,0,0.10);
    }
    .hero-text {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #4a4a4a;
        opacity: 100%;
        max-width: 80%;
    }
    h2 {
        font-size: 2.00em;
        font-weight: 600;
        color: #231651;
        text-align: center;
    }
    #backtotop {
        display: none; /*  Hidden by default */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #ECF6F5;   /* Set a background color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 100px; /* Rounded corners */
        width: 70px;
        height: 70px;
        padding: 0%;
    }
    .project-img{
        width: 50%;
    }
    .project-text {
        margin: 10px 20px;
        padding-top: 40px;
        text-align: left;
    }
    .view-other {
        padding-top: 3%;
        background-color: #fffdfd;
    }
    .other-img {
        margin: 5% 35%;
        width: 30%;
        border-radius: 10px;
        box-shadow: 2px 10px 10px 2px #32313150;
    }
    .animation-row {
        background-color: #1d2020;
    }
    .animation-img { 
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact{
        margin-left: 3%;
        margin-right: 25%;
    }
    .skillsntools {
        list-style-type: none;
        padding: 0px 80px;
    }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    .col-xl-4 {
        width: 50%;
        text-align: left;
        padding: 0% 2%;
    }
    .header-top {
        position: absolute;
        top: 25%;
        left: 36%;
        text-align: center;
    }
    .header-centered {
        width: 450px;
        height: auto;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff7a;
        border-radius: 10px;
        text-align: center;
        box-shadow: -2px 22px 9px -16px rgba(0,0,0,0.10);
    }
    .hero-text {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #4a4a4a;
        opacity: 100%;
        max-width: 80%;
    }
    #backtotop {
        display: none; /*  Hidden by default */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #ECF6F5;   /* Set a background color */
        cursor: pointer; /* Add a mouse pointer on hover */
        border-radius: 100px; /* Rounded corners */
        width: 50px;
        height: 50px;
        padding: 0%;
    }
    .container {
        margin: 0px 50px;        
    }
    .row {
        margin: 0px 100px;
    }
    .project-img {
        width: 75%;
        padding-left: 10%;
    }
    .project-headerimg {
        width: 50%;
    }
    .project-logo {
        width: 60%;
        padding-top: 10%;
    }
    .project-text {
        margin: 10px 20px;
        padding-top: 100px;
        text-align: left;
    }
    .view-other {
        padding-top: 3%;
        background-color: #fffdfd;
    }
    .other-img {
        margin: 5% 35%;
        width: 30%;
        border-radius: 10px;
        box-shadow: 2px 10px 10px 2px #32313150;
    }
    .animation-row {
        background-color: #1d2020;
        width: 100%;
    }
    .animation-img { 
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .overview-img {
        width: 60%;
        padding-top: 10%;
    }
    .contact{
        margin-left: 3%;
        margin-right: 40%;
    }
    .profile-photo {
        width: 250px;
    }
    #intro {
        margin: 10px 300px;
    }
    .skillsntools {
        list-style-type: none;
        padding: 0px 150px;
    }
}
[class*="col-"] {
    float: left;
    list-style-type: none;
}